*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --col-05:#bcbdbc;
  --col-06:#6f6f6f;
  --border: 1px solid var(--col-02);
}

.video-player-wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

/* becuase I want to overlay the play icon on the video they need to be in their own wrapper */
.video-element-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

#videoElement{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#videoPlayOverlay{
  width: 8rem;
  height: 8rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  opacity: 0.5;
  cursor: pointer; /* SIGNIFIES AFFORDANCE (NORMAN, 1990) */
}

.video-controls-wrapper{
  display: flex;
  justify-content: center;
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;

}

/* this overwrites the above display:flex - something which is then undone when the JS loads */
#controlsWrapper{
  display: none;
}

.video-control-button{
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  border: none;
  cursor: pointer; /* SIGNIFIES AFFORDANCE (NORMAN, 1990) */
  background-color: transparent;
}
/* OPACITY CHANGED ON :hover AND :active TO PROVIDE FEEDBACK TO USER AND SIGNIFY THE BUTTON AFFORDS CLICKING (NORMAN, 1990) */
.video-control-button:hover{ 
  opacity: 0.8;
}
.video-control-button:active{
  opacity: 0.5;

}
.button-icon{
  pointer-events: none;
}

.button-icon:hover{
  pointer-events: none;
}

/* ALL SVG ICONS COLOR ADJUSTED FROM BLACK TO WHITE TO IMPROVE VISIBILITY AGAINST video-element-wrapper */

#playButton{
  background-image: url('./icons/play.svg');
}

#muteButton{
  background-image: url('./icons/mute.svg');
}

/* ICONS FOR SEEK REWIND/FORWARD SOURCED FROM 
GOOGLE FONTS https://fonts.google.com/icons */

#rewindButton{
  background-image: url('./icons/rewind-5.svg');
}

#forwardButton{
  background-image: url('./icons/forward-5.svg');
}

.video-progress-bar{
  /* Reset the default appearance z*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 6px; /* DECREASED PROGRESS BAR HEIGHT - LESS DISTRACTING FOR THE USER*/
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--col-01);
  justify-self: center;
  align-self: center;
}
::-moz-progress-bar {
  background-color: var(--col-02);
}

::-webkit-progress-bar {
  background-color: var(--col-01);
}
::-webkit-progress-value {
  background-color: var(--col-02);
}

.timeline-loading{
  background-image: -moz-repeating-linear-gradient(45deg, var(--col-03) 0% 2%, transparent 2% 4%, red 4%);
  background-size: 200% 100%;
  animation: loadingAnimation 4s linear infinite;
}

@keyframes loadingAnimation {
  100%{
    background-position: 50% 0%;
  }
}