/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:white;
  --col-02:black;
  --col-03: #818589;
  --border: 1px solid var(--col-02);
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 2vw;
}

/*
  i've set up a basic flexbox for each recipe container - you might want to change some of the 
  flex properties here on the container or on the individual flex items depending on how you want to style them
*/
.RecipeBox{
  display: flex;
  flex-direction: column;
  border: var(--border);
}

.FilterSection{

}

.FilterBox{

}

.FilterButton{

}

.SelectedFilter{
  color: red;
  
}

.CancelFilter{
  
}

.RecipeLink{

}

.RecipeName{

}

.Author{

}

.RecipeImageContainer{

}

.RecipeImg{

}

.Attribution{

}

.Publisher{

}

.Cuisine{

}

.TimeToCook{

}

.SkillLevel{

}

.Course{

}

.Servings{

}

.Dietary{

}

.DatePosted{

}

.SpecialEquipment{

}

.ContentMainTitle {

}

.RecipeInfo_container {
  display: flex;
  max-width: 900px;
  padding-bottom: 50px
  
}

.RecipeInfo_label {
  text-transform: uppercase;
  font-weight: bold;

}

.RecipeInfo_content {

}

.RecipeInfo {
  box-sizing: border-box;
  flex-basis: 18%;
  margin-right: 27px;
}

.Publisher {
  color: gray;
  font-weight:400
}