.panel {
    border: 4px solid black; 
    border-radius: 1%;  /* ALL PANELS HAVE 4PX BORDERS WITH A 1% RADIUS TO REFLECT REFERENCE IMAGE */
    box-sizing: border-box;
    display: inline-block;
    flex-grow: 1;
   
    margin: 10px 5px;  /* ADJUST TOP-BOTTOM, SIDE MARGINS TO REFLECT REFERENCE IMAGE USING SHORTHAND MARGIN */
}
/* LARGER PANEL FOR USE IN ROWS (ADDITIONAL WIDTH) AND NESTED ROWS (ADDITIONAL HEIGHT)*/
.panel-large {
    border: 4px solid black; 
    border-radius: 1%;  /* ALL PANELS HAVE 4PX BORDERS WITH A 1% RADIUS TO REFLECT REFERENCE IMAGE */
    box-sizing: border-box;
    display: inline-block;
    flex-grow: 1.75;
  
    margin: 10px 5px;  /* ADJUST TOP-BOTTOM, SIDE MARGINS TO REFLECT REFERENCE IMAGE USING SHORTHAND MARGIN */
}

.row {

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 764px;
}

/* NESTED ROW */
.inner-row {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 382;
    height: 350px;
}

/* LARGER WIDTH NESTED ROW TO REFLECT REFERENCE IMAGE */
.inner-row-large {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0.25;
    width: 382;
    height: 350px;
}